<label>Server name</label>
<!-- <input type="text"
  class="form-control"
  (input) = "onUpdateServerName($event)">
  <p> {{serverName}} </p> -->

<input type="text" class="form-control" [(ngModel)]="serverName">
<!-- <p> {{serverName}} </p> -->

<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<!--
<p>{{allowNewServer}}</p>
<p [innerText]="allowNewServer"></p> -->
<!-- <p> {{serverCreationStatus}} </p> -->

<p *ngIf="serverCreated">heeeeeeeeeeeeeey {{serverName}}</p>
<!-- <p *ngIf="serverCreated; else noServer">heeeeeeeeeeeeeey {{serverName}}</p> -->
<ng-template #noServer>Nooo</ng-template>
<app-server *ngFor="let server of servers"></app-server>
